@mixin flexParent() {
  display: flex;
  flex-flow: row wrap;
}


#listHolder {
  @include flexParent();
  width: 970px;
  margin: 0 auto;
}

.list {
  flex: 0 0 33%;
}

h1 {
  text-align: center;
}

.queueList,.progressList,.doneList {
  text-align: center;
}

.invisible {
  display: none;
}

#newInput {
  @include flexParent();
  width: 150px;
  justify-content: center;
  margin: auto;
  div {
    flex: 0 0 100%;
    text-align: center;
  }
}

