.header {
  width: 970px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 3em;
  font-family: 'Quattrocento Sans', sans-serif;
}

.description {
  font-family: 'Quattrocento Sans', sans-serif;
}

#who {
  text-align: left;
}

#paragraph {
  text-align: left;
}

#link {
  font-size: 18px;
  text-decoration: none;
  color: #02859E;
  display: inline-block;
  &:hover {
    color: #F5D06C;
    transition-duration: .5s;
  }
}

@media screen and (max-width: 1100px) {
  .header {
    width: 90%;
    margin: 0 30px;
  }
  .description {
    width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 670px) {
  .header {
    margin: 0 auto;
  }
  .description {
    width: 300px;
  }
  #who {
    text-align: center;
  }
  #paragraph {
    text-align: center;
  }
}