.list {
  text-align: left;
  background: #F5F5F5;
  font-family: 'Quattrocento Sans', sans-serif;
}

.priority {
  width: 150px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 15px;
}

.button {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 15px;
  margin: 3px;
  &:hover {
    cursor: pointer;
  }
}

.input {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 15px;
  margin: 3px;
}

.editForm {
  width: 160px;
  padding: 8px;
  margin: auto;
}

.buttonsContainer {
  display: flex;
  flex-flow: row wrap;

}


.item {
  padding: 10px;
  margin: 15px;
  transition: padding 0.5s;
  display: flex;
  flex-flow: row wrap;
}

.left {
  flex: 0 0 70%;
  p {
    font-size: 15px;
  }
}

.right {
  flex: 0 0 30%;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

