.list {
  text-align: center;
  background-color: lightgreen;
  font-family: 'Schoolbell', cursive;
}

.priority {
  width: 150px;
  font-family: 'Schoolbell', cursive;
  font-size: 15px;
}

.buttonsContainer {
  display: flex;
  flex-flow: row-wrap;
  justify-content: center;
  div {
    flex: 0 0 1%;
  }
}

.button {
  font-family: 'Schoolbell', cursive;
  font-size: 15px;
  margin: 3px;
  &:hover {
    cursor: pointer;
  }
}

.input {
  font-family: 'Schoolbell', cursive;
  font-size: 15px;
  margin: 3px;
}

.editForm {
  width: 160px;
  padding: 8px;
  margin: auto;
}

.item {
  padding: 10px;
  margin: 15px;
}