@mixin flexParent() {
  display: flex;
  flex-flow: row wrap;
}


#listHolder {
  @include flexParent();
  margin: 0 auto;
  padding: 0 20px;
}

.list {
  flex: 0 0 33%;
  text-align: center;
}

.title {
  font-family: 'Walter Turncoat', cursive;
  font-size: 30px;
}
