@mixin flexParent() {
  display: flex;
  flex-flow: row wrap;
}


#listHolder {
  @include flexParent();
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
}

.list {
  flex: 0 0 400px;
  text-align: center;
  margin: 10px;

}

.title {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
}
