.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.loginElement {
  flex: 0 0 100%;
  text-align: center;
}

.input {
  font-size: 15px;
  font-family: 'Quattrocento Sans', sans-serif;
}

.button {
  font-size: 15px;
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 20px;
}

.form {
  flex: 0 0 180px;
  padding: 20px 30px;
  background: #F5F5F5;
}

.subTitle {
  font-size: 15px;
  font-family: 'Quattrocento Sans', sans-serif;
}

.title {
  font-size: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
}

.error {
  font-size: 15px;
  font-family: 'Quattrocento Sans', sans-serif;
  color: red;
}

.loginForm {
  flex: 0 0 100%;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}