#navBox {
  flex: 0 0 320px;
}
.nav {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.li {
  text-decoration: none;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 17px;
  background-color: #F5F5F5;
  padding: 10px;
  margin: 5px;
  color: black;
}

@media screen and (max-width: 550px) {
  #navBox {
    flex: 0 0 100%;
  }
  .nav {
    justify-content: center;
    padding: 0;
    margin-top: 0;
    li {
      flex: 0 0 40px;
      background-color: #F5F5F5;
      padding: 5px;
      margin: 5px;
      text-align: center;
    }
  }
  .li {
    font-size: 14px;
    padding: 5px;
  }
}