.nav {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  width: 270px;
}

.li {
  text-decoration: none;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 17px;
  background-color: #F5F5F5;
  padding: 10px;
  margin: 5px;
  color: black;
}

@media screen and (max-width: 550px) {
  .nav {
    width: 230px;
  }

  .li {
    font-size: 13px;
  }
}