
.priority {
  width: 150px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 15px;
}

.button {
  font-size: 15px;
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 3px;
  &:hover {
    cursor: pointer;
  }
}

.input {
  font-size: 15px;
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 3px;
}

.form {
  padding: 20px 30px;
  background: #F5F5F5;
}