
.priority {
  width: 175px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 15px;
  margin: 5px;
}

.button {
  display: inline;
  font-size: 15px;
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 5px;

  &:hover {
    cursor: pointer;
  }
}

.input {
  font-size: 15px;
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 5px;
}

.form {
  padding: 20px 30px;
  background: #F5F5F5;
  border: 1px solid gray;
  border-radius: 1%;
}

