$font-color: white;

@mixin flexParent() {
  display: flex;
  flex-flow: row wrap;
}

#newInput {
  @include flexParent();
  width: 150px;
  justify-content: center;
  margin: auto;
  div {
    flex: 0 0 100%;
    text-align: center;
  }
}

#header {
  text-align: center;
  font-family: 'Walter Turncoat', cursive;
  // color: $font-color;
  font-size: 1.5em;
}

.button {
  font-size: 15px;
  font-family: 'Schoolbell', cursive;
  &:hover {
    cursor: pointer;
  }
}


#page {
  width: 1000px;
  margin: 0 auto;
}