.list {
  text-align: center;
  background-color: lightgreen;
  font-family: 'Schoolbell', cursive;
}

.priority {
  width: 150px;
  font-family: 'Schoolbell', cursive;
  font-size: 15px;
}

.moveButtons {
  width: 100%;
}

.button {
  font-family: 'Schoolbell', cursive;
  font-size: 15px;
  margin: 3px;
}

.editForm {
  width: 160px;
  margin: auto;
}