$font-color: white;

@mixin flexParent() {
  display: flex;
  flex-flow: row wrap;
}

#newInput {
  @include flexParent();
  width: 150px;
  justify-content: center;
  margin: auto;
  div {
    flex: 0 0 100%;
    text-align: center;
  }
}

#header {
  text-align: center;
  font-family: 'Walter Turncoat', cursive;
  font-size: 20px;
  // color: $font-color;
}

.invisible {
  display: none;
}

.button {
  font-size: 15px;
  font-family: 'Schoolbell', cursive;
}

#page {

}